<main>
  <h1 class="text-center"><%=@cocktail["strDrink"]%></h1>
  <hr class="my-4">

  <div class="d-flex flex-row">
    <div class="col-md-6 text-center" >
      <img src="<%= @cocktail["strDrinkThumb"] || @cocktail.image_url %>" alt="cocktail image" width= "300" height = "300" >

      <% if @is_api_cocktail %>
        <% if current_user.present? %>
        <div id="favorite_form" class="mt-3">
          <% if current_user.favorited_api_cocktail?(@cocktail["idDrink"]) %>
            <%= render 'shared/unfavorite_api' , api_id: @cocktail["idDrink"], cocktail: @cocktail %>
          <% else %>
            <%= render 'shared/favorite_api' , api_id: @cocktail["idDrink"], cocktail: @cocktail %>
          <% end %>
        </div>
        <% end %>
      <% else %>
        <% if current_user.present? %>
          <div id="favorite_form" class="mt-3">
            <% if current_user.favorited?(@cocktail.id) %>
              <%= render 'shared/unfavorite_user_submitted' , cocktail: @cocktail %>
            <% else %>
              <%= render 'shared/favorite_user_submitted' , cocktail: @cocktail %>
            <% end %>
          </div>
        <% end %>
      <% end %>

    </div>

    <div class="col-med-6">
      <% if @is_api_cocktail %>
        <%= render 'shared/api_cocktail_recipe' %>
      <% else %>
        <%= render 'shared/user_submitted_cocktail_recipe' %>
      <% end %>

    </div>
  </div>   
</main>

 
    
