<h1><%=@cocktail["strDrink"]%></h1>
 <img src="<%= @cocktail["strDrinkThumb"] %>" alt="cocktail image" width= "300" height = "300" >

<%=@cocktail["strInstructions"]%>
<%=@cocktail["strIngredient1"]%>
<%=@cocktail["strMeasure1"]%>
<%=@cocktail["strIngredient2"]%>
<%=@cocktail["strMeasure2"]%>
<%=@cocktail["strIngredient3"]%>
<%=@cocktail["strMeasure3"]%>
<%=@cocktail["strIngredient4"]%>
<%=@cocktail["strMeasure4"]%>
<%=@cocktail["strIngredient5"]%>
<%=@cocktail["strMeasure5"]%>
<%=@cocktail["strIngredient6"]%>
<%=@cocktail["strMeasure6"]%>
<%=@cocktail["strIngredient7"]%>
<%=@cocktail["strMeasure7"]%>
<%=@cocktail["strIngredient8"]%>
<%=@cocktail["strMeasure8"]%>
<%=@cocktail["strIngredient9"]%>
<%=@cocktail["strMeasure9"]%>
<%=@cocktail["strIngredient10"]%>
<%=@cocktail["strMeasure10"]%>
<%=@cocktail["strIngredient11"]%>
<%=@cocktail["strMeasure11"]%>
<%=@cocktail["strIngredient12"]%>
<%=@cocktail["strMeasure12"]%>
<%=@cocktail["strIngredient13"]%>
<%=@cocktail["strMeasure13"]%>
<%=@cocktail["strIngredient14"]%>
<%=@cocktail["strMeasure14"]%>
<%=@cocktail["strIngredient15"]%>
<%=@cocktail["strMeasure15"]%>
