<%= form_with(model: current_user.favorites.build, local: false) do |f| %>
  <div><%= hidden_field_tag :user_id, current_user.id %></div>
  <div><%= hidden_field_tag :api_id, api_id %></div>
  <div><%= hidden_field_tag :image_url, cocktail["strDrinkThumb"] %></div>
  <div><%= hidden_field_tag :name, cocktail["strDrink"] %></div>
  <%= f.submit "Favorite", class: "favorite-btn btn btn-primary" %>
<% end %>
