<p>
  <%= @cocktail.measure1 %>
  <%= @cocktail.ingredient1 %>
</p>

<p>
  <%= @cocktail.measure2 %>
  <%= @cocktail.ingredient2 %>
</p>

<p>
  <%= @cocktail.measure3 %>
  <%= @cocktail.ingredient3 %>
</p>

<p>
  <%= @cocktail.measure4 %>
  <%= @cocktail.ingredient4 %>
</p>

<p>
  <%= @cocktail.measure5 %>
  <%= @cocktail.ingredient5 %>
</p>

<p>
  <%= @cocktail.measure6 %>
  <%= @cocktail.ingredient6 %>
</p>
  
<p>
  <%= @cocktail.measure7 %>
  <%= @cocktail.ingredient7 %>
</p>
  
<p>
  <%= @cocktail.measure8 %>
  <%= @cocktail.ingredient8 %>
</p>
  
<p>
  <%= @cocktail.measure9 %>
  <%= @cocktail.ingredient9 %>
</p>
  
<p>
  <%= @cocktail.measure10 %>
  <%= @cocktail.ingredient10 %>
</p>
  
<p>
  <%= @cocktail.measure11 %>
  <%= @cocktail.ingredient11 %>
</p>
  
<p>
  <%= @cocktail.measure12 %>
  <%= @cocktail.ingredient12 %>
</p>
  
<p>
  <%= @cocktail.measure13 %>  
  <%= @cocktail.ingredient13 %>
</p>

<p>  
  <%= @cocktail.measure14 %>
  <%= @cocktail.ingredient14 %>
</p>

<p>
  <%= @cocktail.measure15 %>
  <%= @cocktail.ingredient15 %>
</p>

<p>
  <%= @cocktail.instructions %>
</p>
