<main role="main">
  <div class="jumbotron">
    <div class="container">
        <% name = current_user.present? ? 'Friend' : 'Stranger' %>
        <h1 class="display-md-4 display-5 pt-4"> Hello, <%= name %>! </h1>
        <p class="lead"> Find your next drink. </p>
        <hr class="my-4">
        <p> Search from hundreds of cocktails by name or ingredient and save your favorites.
        <p>
          <a class="btn btn-primary btn-lg" href="/cocktails/search" role="button"> Start Searching</a>
        </p>    
    </div>
  </div>

  <% if current_user.present? %>
  <h1 class="text-center mb-5 mt-3"> Your Favorites </h1>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
      <%  @favorited_cocktails.each do |favorited_cocktail| %>
        <div class="col">
          <div class="card shadow-sm">
            <img class ="bd-placeholder-img card-img-top" width="300px" height ="300px" src="<%= favorited_cocktail.image_url %>" aria-label="Placeholder: Thumbnail">
            <div class="card-body">
              <p class="card-text">
                <%= favorited_cocktail.name %>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <% if favorited_cocktail.api_id.present? %>
                    <input type="button" class="btn btn-sm btn-outline-secondary" onclick= "location.href = '<%= cocktail_path(favorited_cocktail.api_id, api_cocktail: true) %>';" value="View" />
                  <% else %>
                    <input type="button" class="btn btn-sm btn-outline-secondary" onclick= "location.href = '<%= cocktail_path(favorited_cocktail.id) %>';" value="View" />
                  <% end %>
                </div>
                <%= render 'shared/unfavorite_api', api_id: favorited_cocktail.api_id %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% else %>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Hundreds of Recipes</h2>
          <p> Hundreds of contemporay and classic cocktails at your finger tips. Search by cocktail name or ingredient!</p>
        </div>
        <div class="col-md-4">
          <h2>Add to Favorites</h2>
          <p> Find your favorite cocktail recipes and save them for later!</p>
        </div>
        <div class="col-md-4">
          <h2>Share Your Own</h2>
          <p> Submit your own unqiue recipes to share with the community </p>
        </div>
      </div>
    </div>
  <% end %>  
</main>





